<div class="cw-footer" fxFlex="100">
  <div class="cw-container" fxLayoutAlign="center center">
    <div classs="cw-logo-panel" fxFlex="30">
      <img src="assets/cw-light.png" width="90"/>
    </div>
    <div class="speed-links" fxFlex="30">
      <ul class="listHeight" style="list-style: none;">
        <li><a class="cw-links" href="/">Home</a></li>
        <li><a class="cw-links" href="/faq">FAQ</a></li>
        <li><a class="cw-links" href="/policy">Policy</a></li>
      </ul>
    </div>
    <div class="soc-links">
      Follow us in
      <span class="soc-icon"> </span>
    </div>
  </div>
</div>
