@import '~@angular/material/theming';
@include mat-core();
$md-carwaala: (
  50 : #ffe0e0,
  100 : #ffb3b3,
  200 : #ff8080,
  300 : #ff4d4d,
  400 : #ff2626,
  500 : #ff0000,
  600 : #ff0000,
  700 : #ff0000,
  800 : #ff0000,
  900 : #ff0000,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffbfbf,
  A700 : #ffa6a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$carwaala-primary: mat-palette($md-carwaala, 800, 400, 700);
$carwaala-accent: mat-palette($md-carwaala, A100);
$carwaala-warn: mat-palette($mat-red);
$carwaala-theme: mat-light-theme($carwaala-primary, $carwaala-accent, $carwaala-warn);
@include angular-material-theme($carwaala-theme);

